{% extends 'AdministradorTorneos/main.html' %}

{% load static %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

<div class="card" style="width: 20%; position: fixed; margin-left: 1.5%; margin-top: 1.5%;">
  <div class="card-body">
    <h4 class="card-title">{{tournaments.name}}</h4>
    <h5 class="card-subtitle mb-2 text-muted">{{tournaments.game}}</h5>
    <p class="card-text">{{tournaments.description}}</p>
    <form action="" method="POST">
      {% csrf_token %}
      {% if deactivateBtn == True %}
        <input class="btn" value="Inscribirme" type="submit" style="background-color: #FF8C00; color: black;" disabled>
      {% else %}
        <input class="btn" value="Inscribirme" type="submit" style="background-color: #FF8C00; color: black;">
      {% endif %}
    </form>

    
    {% if tournaments.winner == None %}
      
    {% else %}
      <br>
      <img  class="img-fluid" src="{% static '/images/icon.png' %}">
      <br><br>
      <h4 class="card-title">{{tournaments.winner}}</h4>
      <h5 class="card-subtitle mb-2 text-muted">Campeón del Torneo</h5>

    {% endif %}

  </div>
</div>



<div class="bracketBtn">
  <div class="bracket">

    <section class="round quarterfinals">
      <div class="winners">
        <div class="matchups">
          <div class="matchup">
            <div class="participants">
              {% if qm1.won == None %}
                <div class="participant">
              {% elif qm1.won %}
                <div class="participant winner">
              {% else %}
               <div class="participant loser">
              {% endif %}
                <span>
                  
                  {% if qm1.player1 == None %}
                    
                    TBD
  
                  {% else %}  
                  
                    {{qm1.player1}}
  
                  {% endif %}
                    
                </span>
                <span style="float: right;">

                  {% if qm1.score1 == None %}
                    
                    -
  
                  {% else %}  
                  
                    {{ qm1.score1 }}
  
                  {% endif %}

                </span>
              </div>
              {% if qm1.won == None %}
                <div class="participant">
              {% elif qm1.won %}
                <div class="participant loser">
              {% else %}
               <div class="participant winner">
              {% endif %}
              <span>
                  
              {% if qm1.player2 == None %}
                    
                TBD
  
              {% else %}  
              
                {{qm1.player2}}
  
              {% endif %}
                
              </span>
              <span style="float: right;">

                {% if qm1.score2 == None %}
                  
                  -

                {% else %}  
                
                  {{ qm1.score2 }}

                {% endif %}
                
              </span>
            </div>
            </div>
          </div>
          <div class="matchup">
            <div class="participants">
              {% if qm2.won == None %}
                <div class="participant">
              {% elif qm2.won %}
                <div class="participant winner">
              {% else %}
               <div class="participant loser">
              {% endif %}
              <span>
              {% if qm2.player1 == None %}
                    
                TBD
  
              {% else %}  
              
                {{qm2.player1}}
  
              {% endif %}
              </span>
              <span style="float: right;">

                {% if qm2.score1 == None %}
                  
                  -

                {% else %}  
                
                  {{ qm2.score1 }}

                {% endif %}
                
              </span>
            </div>
              {% if qm2.won == None %}
                <div class="participant">
              {% elif qm2.won %}
                <div class="participant loser">
              {% else %}
               <div class="participant winner">
              {% endif %}
              <span>
              {% if qm2.player2 == None %}
                    
                TBD
  
              {% else %}  
              
                {{qm2.player2}}
  
              {% endif %}
              </span>
              <span style="float: right;">

                {% if qm2.score2 == None %}
                  
                  -

                {% else %}  
                
                  {{ qm2.score2 }}

                {% endif %}
                
              </span>
            </div>
            </div>
          </div>
        </div>
        {% if qm1.score1 != None and qm1.score2 != None and qm2.score1 != None and qm2.score2 != None %}
        <div class="connector filled top bottom">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
        {% elif qm1.score1 != None and qm1.score2 != None %}
        <div class="connector filled top">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
        {% elif qm2.score1 != None and qm2.score2 != None %}
        <div class="connector filled bottom">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
        {% else %}
        <div class="connector">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
        {% endif %}
          

      </div>
      <div class="winners">
        <div class="matchups">
          <div class="matchup">
            <div class="participants">
              {% if qm3.won == None %}
                <div class="participant">
              {% elif qm3.won %}
                <div class="participant winner">
              {% else %}
               <div class="participant loser">
              {% endif %}
              <span>
              {% if qm3.player1 == None %}
                    
                TBD
  
              {% else %}  
              
                {{qm3.player1}}
  
              {% endif %}
              </span>
              <span style="float: right;">

                {% if qm3.score1 == None %}
                  
                  -

                {% else %}  
                
                  {{ qm3.score1 }}

                {% endif %}

              </span>
            </div>
              {% if qm3.won == None %}
                <div class="participant">
              {% elif qm3.won %}
                <div class="participant loser">
              {% else %}
               <div class="participant winner">
              {% endif %}
              <span>
              {% if qm3.player2 == None %}
                    
                TBD
  
              {% else %}  
              
                {{qm3.player2}}
  
              {% endif %}
              </span>
              <span style="float: right;">

                {% if qm3.score2 == None %}
                  
                  -

                {% else %}  
                
                  {{ qm3.score2 }}

                {% endif %}

              </span>
            </div>
            </div>
          </div>
          <div class="matchup">
            <div class="participants">
              {% if qm4.won == None %}
                <div class="participant">
              {% elif qm4.won %}
                <div class="participant winner">
              {% else %}
               <div class="participant loser">
              {% endif %}
              <span>
              {% if qm4.player1 == None %}
                    
                TBD
  
              {% else %}  
              
                {{qm4.player1}}
  
              {% endif %}
              </span>
              <span style="float: right;">

                {% if qm4.score1 == None %}
                  
                  -

                {% else %}  
                
                  {{ qm4.score1 }}

                {% endif %}

              </span>
            </div>
              {% if qm4.won == None %}
                <div class="participant">
              {% elif qm4.won %}
                <div class="participant loser">
              {% else %}
               <div class="participant winner">
              {% endif %}
              <span>
              {% if qm4.player2 == None %}
                    
                TBD
  
              {% else %}  
              
                {{qm4.player2}}
  
              {% endif %}
              </span>
              <span style="float: right;">

                {% if qm4.score2 == None %}
                  
                  -

                {% else %}  
                
                  {{ qm4.score2 }}

                {% endif %}

              </span>
            </div>
            </div>
          </div>
        </div>
        {% if qm3.score1 != None and qm3.score2 != None and qm4.score1 != None and qm4.score2 != None %}
        <div class="connector filled top bottom">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
        {% elif qm3.score1 != None and qm3.score2 != None %}
        <div class="connector filled top">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
        {% elif qm4.score1 != None and qm4.score2 != None %}
        <div class="connector filled bottom">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
        {% else %}
        <div class="connector">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
        {% endif %}
      </div>
    </section>
    <section class="round semifinals">
      <div class="winners">
        <div class="matchups">
          <div class="matchup">
            <div class="participants">
              {% if sm1.won == None %}
                <div class="participant">
              {% elif sm1.won %}
                <div class="participant winner">
              {% else %}
               <div class="participant loser">
              {% endif %}
              <span>
              {% if sm1.player1 == None %}
                    
                TBD
  
              {% else %}  
              
                {{sm1.player1}}
  
              {% endif %}
              </span>
              <span style="float: right;">

                {% if sm1.score1 == None %}
                  
                  -

                {% else %}  
                
                  {{ sm1.score1 }}

                {% endif %}

                
              </span>
            </div>
              {% if sm1.won == None %}
                <div class="participant">
              {% elif sm1.won %}
                <div class="participant loser">
              {% else %}
               <div class="participant winner">
              {% endif %}
              <span>
              {% if sm1.player2 == None %}
                    
                TBD
  
              {% else %}  
              
                {{sm1.player2}}
  
              {% endif %}              
              </span>
              <span style="float: right;">

                {% if sm1.score2 == None %}
                  
                  -

                {% else %}  
                
                  {{ sm1.score2 }}

                {% endif %}

                
              </span>
            </div>
            </div>
          </div>
          <div class="matchup">
            <div class="participants">
              {% if sm2.won == None %}
                <div class="participant">
              {% elif sm2.won %}
                <div class="participant winner">
              {% else %}
               <div class="participant loser">
              {% endif %}
              <span>
              {% if sm2.player1 == None %}
                    
                TBD
  
              {% else %}  
              
                {{sm2.player1}}
  
              {% endif %}
              </span>
              <span style="float: right;">

                {% if sm2.score1 == None %}
                  
                  -

                {% else %}  
                
                  {{ sm2.score1 }}

                {% endif %}

                
              </span>
            </div>
              {% if sm2.won == None %}
                <div class="participant">
              {% elif sm2.won %}
                <div class="participant loser">
              {% else %}
               <div class="participant winner">
              {% endif %}
              <span>
              {% if sm2.player2 == None %}
                    
                TBD
  
              {% else %}  
              
                {{sm2.player2}}
  
              {% endif %}
              </span>
              <span style="float: right;">

                {% if sm2.score2 == None %}
                  
                  -

                {% else %}  
                
                  {{ sm2.score2 }}

                {% endif %}

                
              </span>
            </div>
            </div>
          </div>
        </div>
        {% if sm1.score1 != None and sm1.score2 != None and sm2.score1 != None and sm2.score2 != None %}
        <div class="connector filled top bottom">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
        {% elif sm1.score1 != None and sm1.score2 != None %}
        <div class="connector filled top">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
        {% elif sm2.score1 != None and sm2.score2 != None %}
        <div class="connector filled bottom">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
        {% else %}
        <div class="connector">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
        {% endif %}
      </div>
    </section>
    <section class="round finals">
      <div class="winners">
        <div class="matchups">
          <div class="matchup">
            <div class="participants">
              {% if fm.won == None %}
                <div class="participant">
              {% elif fm.won %}
                <div class="participant winner">
              {% else %}
               <div class="participant loser">
              {% endif %}
              <span>
              {% if fm.player1 == None %}
                    
                TBD
  
              {% else %}  
              
                {{fm.player1}}
  
              {% endif %}
              </span>
              <span style="float: right;">

                {% if fm.score1 == None %}
                  
                  -

                {% else %}  
                
                  {{ fm.score1 }}

                {% endif %}

                
              </span>
            </div>
              {% if fm.won == None %}
                <div class="participant">
              {% elif fm.won %}
                <div class="participant loser">
              {% else %}
               <div class="participant winner">
              {% endif %}
              <span>
                {% if fm.player2 == None %}
                    
                TBD
  
              {% else %}  
              
                {{fm.player2}}
  
              {% endif %}
              </span>
              <span style="float: right;">

                {% if fm.score2 == None %}
                  
                  -

                {% else %}  
                
                  {{ fm.score2 }}

                {% endif %}

                
              </span>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

  

<!-- <script>

  var flag = false

  function postFlag() {

    var flag = true

    $.post( window.location.href,
    {
      csrfmiddlewaretoken: '{{ csrf_token }}' ,
      flag: flag,
    },
    
    )
  }

</script> -->


{% endblock content %}