{% extends 'AdministradorTorneos/main.html' %}


{% block content %}
  

<input class="btn btn-sm float-right" value="Inscribirme" type="submit" onclick="postFlag()">
<input class="btn btn-sm float-right" value="Actualizar" type="button" onclick="window.location.reload();">
  
<div class="bracket">
  <section class="round quarterfinals">
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant">
              <span>
                
                {% if qm1.player1 == None %}
                  
                  TBD

                {% else %}  
                
                  {{qm1.player1}}

                {% endif %}
                  
              </span>
            </div>
            <div class="participant"><span>
                
            {% if qm1.player2 == None %}
                  
              TBD

            {% else %}  
            
              {{qm1.player2}}

            {% endif %}
              
            </span></div>
          </div>
        </div>
        <div class="matchup">
          <div class="participants">
            <div class="participant"><span>
            {% if qm2.player1 == None %}
                  
              TBD

            {% else %}  
            
              {{qm2.player1}}

            {% endif %}
            </span></div>
            <div class="participant"><span>
            {% if qm2.player2 == None %}
                  
              TBD

            {% else %}  
            
              {{qm2.player2}}

            {% endif %}
            </span></div>
          </div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant"><span>
            {% if qm3.player1 == None %}
                  
              TBD

            {% else %}  
            
              {{qm3.player1}}

            {% endif %}
            </span></div>
            <div class="participant"><span>
            {% if qm3.player2 == None %}
                  
              TBD

            {% else %}  
            
              {{qm3.player2}}

            {% endif %}
            </span></div>
          </div>
        </div>
        <div class="matchup">
          <div class="participants">
            <div class="participant"><span>
            {% if qm4.player1 == None %}
                  
              TBD

            {% else %}  
            
              {{qm4.player1}}

            {% endif %}
            </span></div>
            <div class="participant"><span>
            {% if qm4.player2 == None %}
                  
              TBD

            {% else %}  
            
              {{qm4.player2}}

            {% endif %}
            </span></div>
          </div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
  </section>
  <section class="round semifinals">
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant"><span>
            {% if sm1.player1 == None %}
                  
              TBD

            {% else %}  
            
              {{sm1.player1}}

            {% endif %}
            </span></div>
            <div class="participant"><span>
            {% if sm1.player2 == None %}
                  
              TBD

            {% else %}  
            
              {{sm1.player2}}

            {% endif %}              
            </span></div>
          </div>
        </div>
        <div class="matchup">
          <div class="participants">
            <div class="participant"><span>
            {% if sm2.player1 == None %}
                  
              TBD

            {% else %}  
            
              {{sm2.player1}}

            {% endif %}
            </span></div>
            <div class="participant"><span>
            {% if sm2.player2 == None %}
                  
              TBD

            {% else %}  
            
              {{sm2.player2}}

            {% endif %}
            </span></div>
          </div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
  </section>
  <section class="round finals">
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant"><span>
            {% if fm.player1 == None %}
                  
              TBD

            {% else %}  
            
              {{fm.player1}}

            {% endif %}
            </span></div>
            <div class="participant"><span>
              {% if fm.player2 == None %}
                  
              TBD

            {% else %}  
            
              {{fm.player2}}

            {% endif %}
            </span></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>

  var flag = false


  function postFlag() {

    var flag = true

    $.post( window.location.href,
    {
      csrfmiddlewaretoken: '{{ csrf_token }}' ,
      flag: flag,
    },
    
    )
  }

</script>

{% endblock content %}