{% load static %}

<style>
  .msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }

  .cs{
    font-size: 18px;
    color: rgb(179, 179, 179);
    margin-right: 20px;
  }
  .cs:hover{
    color: #FF8C00;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-custom-2" style="background-color: #fa9d1a; background-image: linear-gradient(45deg, #fa9d1a 0%, #5e00ff 100%);">
  <a class="navbar-brand"  ><img src=" {% static '/images/LogoBlanco.png' %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ver_torneos' %}">Torneos</a>
        </li>
      {% else %}
        
      {% endif %}
        
    </ul>
  </div>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      
      {% if request.user.is_authenticated %}
        <span class="navbar-text">{{request.user}}<span style="visibility: hidden;">a</span>|</span>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
        </li>
      {% endif %}
        
    </ul>
  </div>
</nav>

