{% extends 'AdministradorTorneos/main.html' %}


{% block content %}

<br>

<div class>
    <div class="col-md">
        <div class="card card-body my-title">
            <h5>Torneos</h5>
        </div>
        <div class="card card-body my-table">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Juego</th>
                    <th>Campeón</th>
                    <th></th>
                </tr>

                {% for i in tournaments %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.game}}</td>
                    <td>
                        
                        {% if i.winner == None %}
                            TBD
                        {% else %}
                            {{i.winner}}
                        {% endif %}
                            
                    </td>
                    <td><a href="{% url 'torneo' i.id %}"><input type="button" value="Ver Torneo" class="btn float-right" style="background-color: #FF8C00; color: black;"></a></td>
                </tr>
                {% endfor %}
                
            </table>
        </div>
    </div>
    
</div>

{% endblock content %}